random_seed = 0

[input]
size = 101

[[layers]]
kind = "regular_feedforward"
size = 4
activation = "sigmoid"

[[layers]]
kind = "regular_feedforward"
size = 2
activation = "softmax"

[cost]
function = "softmax_cross_entropy"

[accuracy]
function = "argmax"

[optimizer]
function = "Adam"

[optimizer.parameters]
epsilon = 1e-3
# learning_rate = 0.04

[optimizer.parameters.learning_rate]
function = "exponential_decay"

[optimizer.parameters.learning_rate.parameters]
initial_rate = 0.05
to = 0.0001
decay_steps = 1000
staircase = false

[initial_weights]
function = "truncated_normal"

[initial_weights.parameters]
stddev = 0.1

[data]
case_fraction = 1.0

[data.source]
function = "import_dataset"

[data.source.parameters]
filepath = "dataset.py"
dataset = "symmetric_vec"

[validation]
fraction = 0.1
interval = 10

[test]
fraction = 0.1

[minibatch]
size = 100
steps = 1000

[visualization]
weights = [1, 2, 3, 4]
biasses = [1, 4]

[visualization.map]
size = 0
layers = [0, 5]
dendogram_layers = [5]
